html, body {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: hidden;
  font-family: proxima-nova, Georgia, sans-serif;
}
h5 {
  color: white;
  position: absolute;
  cursor: default;
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: left bottom 0;

  font-size: 20px;
  cursor: pointer;
  position: absolute;
  float: left;
  left: 10px;
  top: 5%;
  padding: 20px;
  margin-bottom: 100%
  /*padding-top: 50px;*/
}
#accordion {
  list-style: none;
  padding: 0;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}

.list{
  float: left;
  display: block;
  height: 75%;
  /*width: 5vw;*/
  padding: 15px 0;
  /*overflow: hidden;*/
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
}

.slide {
  float: left;
  margin: -15px 15px 0 0;
  position: absolute;
  width: 95%;
}

.active {
  width: 95vw;
}

.default-vertical {
  /*display: none;*/
}

.checkbox img {
  height: 20px;
}

#confirmation {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: none;
}

#slide_1_text {
  padding-bottom: 25%; padding-left: 10%; padding-top: 10%;
}

#return_home {
  background-color: transparent;
  border: 3px solid #ffffff;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.input-inverted {
  padding: 4px;
  border: 3px solid #FF7B72;
  background-color: transparent;
  width: 25%;
  height: 5vh;
  font-weight: lighter;
  color: #FF7B72;
  font-size: 1.1em;
  margin-right: 0px;
  vertical-align: top;
}

::placeholder {
  color: #FF7B72;
  font-size: 0.9em;
}

.submit-button {
  background-color: #FF7B72;
  border: 3px solid #FF7B72;
  height: 5vh;
  width: 150px;
  color: white;
  vertical-align: top;
  margin-left: 0px;
  font-size: .9em;
}

.social1 {
  position: fixed;
  cursor: pointer;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  padding: 15px;
}

.social2 {
  position: fixed;
  cursor: pointer;
  right: 40px;
  bottom: 0;
  width: 50px;
  height: 50px;
  padding: 15px;
}

@media screen and (max-width: 768px){
 #rheya_mascara {
   display: none;
 }
 #how_it_works{
   display: none;
 }
 #main {
   height: 100vh;
 }
 #content {
   overflow-y: scroll;
 }
 .tab {
   border-right: 0px solid #fff;
   border-left: 0px solid #fff;
 }
 #accordion {
   overflow: scroll;
 }
 #content-2 {
   display: block;
   left: -1px;
   top: 10vh;
   padding-bottom: 75vh;
   border-top: 1px solid #fff:
 }
 #accordion.list {
   width: 100vw;
 }
 #slide_1_text {
   padding-bottom: 0%;
 }
 .slide{
   position: relative;
   width: 100%;
 }
 body {
   overflow-y: scroll;
 }
}
